*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cadastro-produtos{
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 1280px;
    margin: 130px auto;
    /* background-color: red; */
}

.fabricante-categoria{
    flex: 630px 1 1;
    /* background-color: blue; */
}

.produtos{
    flex: 630px 1 1;
    /* background-color: rgb(27, 150, 42); */
}

.form-fabricante-categoria{
    display: inline;
}

.inputs-forms{
    margin: 7px 0;
    padding: 14px 5px;
    width: 550px;
}

.categoria-label{
    margin: 15px 0 9px 0;
}


.titulo-fabricante-categoria{
    margin-bottom: 40px;
    color: rgb(20, 16, 128);
}

.btn-adicionar{
    padding: 7px 25px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(20, 16, 128);
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.titulo-produto{
    margin-bottom: 40px;
    color: rgb(20, 16, 128);
}

input{
    outline: none;
    border-radius: 4px;
    border-color: rgb(145, 142, 232);;
}

label{
    display: block;
    color: rgb(20, 16, 128);
}

button{
    display: block;
}

select{
    padding: 10px 0;
    width: 550px;
    margin: 10px 0;
}